.card-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #ebebeb;
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 5px;
  height: 17px;
}

.card-tag span {
  height: 11px;
  width: 11px;
  background-color: #bec2c8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.card-tag div {
  width: fit-content;
  font-size: 11px;
  font-weight: 400;
  color: #75797f;
}
